<div id="<%= dom_id blog %>">
  <p>
    <strong>Title:</strong>
    <%= blog.title %>
  </p>

  <p> Published <%= distance_of_time_in_words(blog.created_at, Time.new) %> ago </p>

  <p>
    <strong>Body:</strong>
    <%= blog.body %>
  </p>

</div>
